{{> top }}{{> header }}
<div class="header clearfix">
    <h2>注册</h2>
    <h4>gopress blog for training</h4>
</div>
<div class="row marketing">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-6 col-lg-offset-3">
    <form class="form" action="/register" method="post">
      <div class="form-group"> <label>用户名</label><input type="text" maxlength="20" name="name"class="form-control" /></div>
      <div class="form-group"> <label>密码</label><input type="password" name="password" maxlength="32"class="form-control" /></div>
      <div class="form-group"> <label>重复密码</label><input type="password" name="password_confirm" maxlength="32"class="form-control" /></div>
      <div class="form-group"> <label><small><a href="#">注册协议</a></small></label><input type="checkbox" name="agree" value="agree"/></div>
      <div class="form-submit"> <input type="submit" value="注册" class="btn-primary" /><a href="/login">登录</a>  <span href="##" class="error">{{ message }}</span></div>
    </form>
  </div>
  </div>
</div>
{{> footer}} {{> bottom }}
