<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li class="icon"><a href="/blog/account/profile">账号<img width="24" height="24" src="{{ avatar }}" /></a></li>
            <li role="presentation"><a href="/blog/posts">列表</a></li>
            <li role="presentation"><a href="/blog/posts/create">发文章</a></li>
            <li role="presentation"><a href="/blog/myposts">我的文章</a></li>
            <li role="presentation"><a href="/blog/messages">消息<span {{#if haveMessage}}class="badge message-note"{{/if}}>{{#if haveMessage}}{{messageNum}}{{/if}}</span></a></li>
            <li role="presentation"><a href="/logout">退出登录</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">BLOG-GoPress</h3>
</div>
