<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="gopress blog"/>
  <meta name="author" content="gengkang"/>
  <link rel="icon" href="/assets/favicon.ico"/>
  <base href="/">
  <title>{{ headTitle }}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link rel="stylesheet" href="/assets/css/ie10-viewport-bug-workaround.css"/>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/assets/css/app.css"/>
  <script type="text/javascript" src="/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
