{{> top }}
{{> header }}
{{> nav }}
<div class="row markting">
  <div class="col-lg-10 col-lg-offset-1">
    <form class="form" method="post" action="/blog/posts/create">
        <div class="form-group">
            <label>标题</label>
            <input name="title" maxlength="40" class="form-control">
        </div>
        <div class="form-group">
            <label>正文</label>
            <textarea id="text-input" name="content" rows="8" oninput="this.editor.update()" class="form-control"></textarea>
            <div id="preview"></div>
        </div>
        <div class="form-group">
            <input class="btn-primary" type="submit" value="发表"/><span class="error">{{ message }}</span>
        </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/assets/js/markdown.js"></script>
<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
    }
    var $ = function (id) { return document.getElementById(id); };
    new Editor($("text-input"), $("preview"));
</script>
{{> footer }}
{{> bottom }}
